.accordion-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10vh;
}

.accordion-section .accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-section .accordion-content button{
  border: none;
  border-bottom: 1px solid rgb(227, 225, 225);
  margin-top: 15px;
  font-size: 15px;
  text-align: left;
  color: rgb(87, 87, 87);
  line-height: 25px;
  border-radius: 0px;
  width: 100%;
}

.accordion-section .accordion-content button p{
  padding: 10px;
}


@media(width <= 1024px){
  .accordion-section button {
    width: 80%;
  }
}

@media(width <= 768px){
  .accordion-section button {
    width: 90%;
  }
}


@media(width <= 600px){
  .accordion-section {
    margin: 15vh 2vh;
  }


  .accordion-section button .accordion-title h3{
    font-size: 13px;
  }

  .accordion-section .accordion-content{
    font-size: 12px;
  }
}