.accordion-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0rem 5rem;
}

.accordion-section button {
  margin-top: 2rem;
  width: min(900px, 93%);
  background: transparent;
  border: 1px solid rgb(126, 126, 126);
  padding: 15px;
  cursor: pointer;
  border-radius: 6px;
}

.accordion-section .accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.accordion-section .accordion-title h2{
  font-size: 16px;
}

.accordion-section .accordion-content {
  padding: 1.2rem 1.2rem;
  border-top: 1px solid gray;
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: left;
  color: rgb(87, 87, 87);
  line-height: 1.5rem;
}