.react-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-tabs .tab-list {
  list-style-type: none;
  display: flex;
  padding-bottom: 70px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.react-tabs .tab-list .tab {
  cursor: pointer;
  padding: 0rem 1.5rem 1rem;
  font-size: 0.75rem;
  text-align: center;
  color: gray;
}

.react-tabs .tab-list .tab:hover {
  border-bottom: 1px solid blue;
  transition: 1s;
}

.react-tabs__tab--selected {
  border-bottom: 1px solid blue;
}


.react-tabs .tab-panel {
  display: grid;
  gap: 2.7rem;
}

.react-tabs .tab-panel .card {
  width: 280px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(202, 201, 201); 
  border-radius: 10px;
}

.react-tabs .tab-panel .card p:nth-child(3) {
  color: gray;
}

.react-tabs .tab-panel .card button {
  color: rgb(76, 130, 248);
  border: 1px solid rgb(76, 130, 248);
  padding: 9px;
  width: 220px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.react-tabs .tab-panel .card button:hover {
  color: white;
  background-color: rgb(76, 130, 248);
  transition: 1.2s;
  transform: translateY(-4px);
}

@media (min-width: 1280px) {
  .react-tabs .tab-panel {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .react-tabs .tab-panel {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .react-tabs .tab-panel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .react-tabs .tab-panel {
    grid-template-columns: 1fr;
  }
}


@media(max-width: 660px) {
  .react-tabs .tab-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  
  .react-tabs .tab-list .tab {
    padding: 0rem 0.1rem 1rem;
  }
}

@media(max-width: 555px) {
  .react-tabs .tab-list {
    grid-template-columns: 1fr 1fr;
  }
}