#card-section {
  margin: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#card-section .card-box {
  width: 400px;
}

#card-section .card-box .card-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

#card-section .card-box .card-item .icon-box{
  border: 1px solid gray;
  text-align: center;
  padding: 18px 21px;
  border-radius: 50%;
}

#card-section .card-box .card-item .icon-box .icon{
  font-size: 25px;
  color: rgb(15, 129, 199)
}




#card-section .card-box .card-item div h2 {
  margin-bottom: 10px;
  font-size: 16px;
}

#card-section .card-box .card-item div p {
  color: rgb(99, 97, 97);
}

@media(width <= 1500px){
  #card-section {
    margin: 9vh;
    gap: 20px;
  }
}

@media(width <= 1330px){
  #card-section .card-box {
    width: 350px;
  }
}


@media(width <= 768px){
  #card-section {
    margin: 4vh;
    gap: 30px;
  }

  #card-section .card-box {
    width: 300px;
  }
}
