#card-section {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: full;
}

#card-section .card-box {
  width: max(30rem, 20%);
}

#card-section .card-box .card-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

#card-section .card-box .card-item .icon-box{
  border: 1px solid gray;
  text-align: center;
  padding: 1.1rem 1.3rem;
  border-radius: 5rem;
}

#card-section .card-box .card-item .icon-box .icon{
  font-size: 1.6rem;
  color: rgb(15, 129, 199)
}


#card-section .card-box .card-item div h2 {
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

#card-section .card-box .card-item div p {
  color: rgb(99, 97, 97);
}

