#box-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12rem 2rem 12rem 2rem;
  gap: 50px;
}

#box-content .box {
  width: min(430px, 95%);
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
  border: 1px solid rgb(148, 148, 148);
  padding: 25px 10px;
  border-radius: 15px;
}

#box-content .box .setting{
  width: max-content;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
}

#box-content .box  header{
  display: flex;
  align-items: center;
  gap: 1rem;
}


#box-content .box  header h3{
  font-size: 0.95rem;
}

#box-content .box  header img{
  width: 2rem;
}

#box-content .box  .description{
  color: gray;
}

#box-content .box  button {
  width: max(12rem, 60%);
  padding: 10px 25px;
  color: rgb(31, 124, 156);
  border: 1px solid rgb(31, 124, 156);
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;
}

@media(max-width: 365px){
  #box-content .box {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

