.popup-button {
  float: right;
  margin: 7rem 6rem;
  background-color: gray;
  padding: 10px 25px;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444444;
}

.overlay .popup {
  padding: 1.2rem;
  width: min(60rem, 95%);
  height: 35rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.overlay .popup header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay .popup header p {
  color: rgb(55, 108, 199);
}

.overlay .popup menu {
  padding: 2rem 0rem 3.5rem;
}

.overlay .popup menu .details {
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.95rem;
}

.overlay .popup menu .details h3, p{
  font-size: 0.95rem;
}

.overlay .popup  menu .details p span {
  border-radius: 5px;
  margin-left: 0.8rem;
  padding: 0.3rem 1.8rem;
  background-color: red;
  border: 0.5px solid rgb(195, 193, 193);
}

.overlay .popup .cancel,
.save {
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 7.5rem;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.overlay .popup .cancel {
  border: 1px solid rgb(209, 207, 207);
  background-color: transparent;
}

.overlay .popup .save {
  color: white;
  background-color: #0053d1;
  margin-left: 1.2rem;
  border: none;
}

@media (width <= 640px) {
  .overlay .popup header h1 {
    font-size: 1.2rem;
  }
}

@media (width <= 525px) {
  .overlay .popup menu .details h3, p{
    font-size: 0.88rem;
  }
}